<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport"
          content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <link th:href="@{/static/mui-master/css/mui.min.css}" rel="stylesheet"/>
    <link th:href="@{/static/mui-master/css/common.css}" rel="stylesheet"/>
    <link th:href="@{/static/css/login.css}" rel="stylesheet"/>
    <script th:src="@{/static/mui-master/js/jquery-1.11.2.min.js}"></script>
    <script th:src="@{/static/mui-master/js/mui.js}"></script>
    <script th:src="@{/static/mui-master/js/common.js}"></script>


    <title>代理商登录</title>
</head>

<body>

<header class="mui-bar mui-bar-nav" style=" background: #a01c14;">
    <h1 class="mui-title" style="color:white;">馨香后台管理系统</h1>
</header>
<div class="mui-content">

    <span th:text="${msg}" class="label label-danger"/>

    <form th:object="${user}" action="/system/index" method="post" class="mui-input-group">
        <div class="mui-input-row">
            <label>账号</label>
            <input id='account' type="text" class="mui-input-clear mui-input" maxlength="16"
                   name="username"
                   th:value="${username}"
                   placeholder="请输入账号"/>
        </div>
        <div class="mui-input-row">
            <label>密码</label>
            <input id='pwd' type="password" class="mui-input-clear mui-input" maxlength="16"
                   name="password"
                   th:value="${password}"
                   placeholder="请输入密码"/>
        </div>
        <input type="hidden" id="PID" name="PID" value="2"/>

        <ul class="mui-table-view mui-table-view-chevron">
            <li class="mui-table-view-cell">
                记住密码
                <div class="mui-switch" th:name="rememberMe">
                    <div class="mui-switch-handle"></div>
                </div>
            </li>
        </ul>

        <div class="form-actions">
            <button id='submit' class="mui-btn mui-btn-block mui-btn-primary"
                    style="border: 1px solid #a01c14; background-color: #a01c14;">登录
            </button>

        </div>
    </form>

    <div style="margin-left: 2%;">
        <h4>温馨提示</h4>
        <ol>
            <li>默认账号为手机号</li>
            <li>默认密码为“123456”</li>
            <li>首次登录后请更改密码</li>
        </ol>
    </div>
    <div class="mui-content-padded oauth-area">
    </div>
</div>


</body>
</html>